.FinnishedQuiz {
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinnishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinnishedQuiz ul li i {
    margin-left: 10px;
}

.success {
    color: rgba(0, 255, 64, 0.582);
}

.error {
    color: rgba(255, 8, 0, 0.452);
}