.AppButton {
    padding: 8px 10px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-transform: uppercase;
    }   
  
.AppButton:focus, .AppButton:active {
    outline: none;
}

.AppButton:hover {
    background: #f0ff1e;
}


.nav ul {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
margin: 0;
padding: 20px;
}
  
.nav li {
    margin-right: 15px;
}

.nav li a.active, a.link-active {
    font-weight: bold;
    color: red
}